<div class="graph_content">
	<div class="graph_header">Energy Consumption Result</div>
	<div class="input_container">
		<div class="input_param">Hours: {{formData.timeCount}}</div>
		<div class="input_param">Town: {{formData.place}}</div>
		<div class="input_param">Home Type: {{formData.homeType}}</div>
		<div class="form_btn" {{action 'backToForm'}}>Go to Form</div>
	</div>
	<div class="graph_container">
		<div class="chart"></div>
	</div>
</div>